
<body>
  <div class="header">
    <img width="500" src="https://1.bp.blogspot.com/-mi3ahxFXtNU/WlEZz96UQFI/AAAAAAAANAY/Vb8nqRrIqPIZyUSx4yETGQ2YJfFYR5cmwCLcBGAs/s1600/CE3Uoic.jpg"/> 

    <input class="timkiem" type="text"  placeholder=" Tìm kiếm..."/>&nbsp;<button class="bttk">Tìm kiếm</button>
    
  </div>
  <div class="menu">
    <ul>
        <li class="trangchu"><a href="#">Trang chủ</a></li>
        <li><a href="#">Thông tin</a></li>
        <li><a href="#">Gợi ý </a></li>
        <li><a href="#">Liên hệ</a></li>
       </ul>
  </div><br>
  <div class="content">
     <div class="container">
    <div class="row">
      <div class="col-8 offset-2 border">
        <h2>{{title}}</h2>
        <div class="row">
         <div class="col-6 offset-3">
              <img width="150" height="100" [src]="data.anhbv" class="img-fluid"/>
           <table>
             <tr>
               <td>Tên bệnh viện</td>
               <td><input type="text" [value]="data.tenbv" (keyup)="data.tenbv = $event.target.value" class="form-control"></td>
             </tr>
             <tr>
               <td>Ảnh bênh viện</td>
               <td><input type="text" [value]="data.anhbv" (keyup)="data.anhbv = $event.target.value" class="form-control"></td>
             </tr>
             <tr>
               <td>Tên gián đốc</td>
               <td><input type="text" [value]="data.tengd" (keyup)="data.tengd = $event.target.value" class="form-control"></td>
             </tr>
             <tr>
               <td>Địa chỉ</td>
               <td><input type="text" [value]="data.diachi" (keyup)="data.diachi = $event.target.value" class="form-control"></td>
             </tr>
             <tr>
               <td>Số ca nhiễm</td>
               <td><input type="text" [value]="data.socanhiem" (keyup)="data.socanhiem = $event.target.value" class="form-control"></td>
             </tr>
             <tr>
               <td>Số ca chữa khỏi</td>
               <td><input type="text" [value]="data.socachua" (keyup)="data.socachua = $event.target.value" class="form-control"></td>
             </tr>
             <tr>
               <td>Số ca tử vong</td>
               <td><input type="text" [value]="data.socatu" (keyup)="data.socatu = $event.target.value" class="form-control"></td>
             </tr>
           </table><br>
            <div class="text-center">
              <app-con2 (onAdd)="themtt($event)" (onClear)="cancel($event)" ></app-con2>
            </div>
        </div>
    </div>
</div>
      <app-con1 *ngFor="let chuyen of databv" [herodata]="chuyen" (onRemoveEvent)="xoatt($event)" (onEdit)="chuy($event)"></app-con1>
  </div> 
</div><br>
  </div>
<div class="footer">
    <div class="diachi">
        <p> <strong>Seacher</strong></p>
    </div> 
</div>  
</body>
