
      <table border="1" align="center">
        <tr>
          <th width="30">ID</th>
          <th width="150">Tên bênh viện</th>
          <th width="150">Ảnh bệnh viện</th>
          <th width="150">Tên giám đốc</th>
          <th width="150">Địa chỉ</th>
          <th width="130">Số ca nhiễm</th>
          <th width="130">Số ca chữa khỏi</th>
          <th width="130">Số ca tử vong</th>
          <th width="120">Action</th>
        </tr>
        <tr>
          <td>{{herodata.id}}</td>
          <td>{{herodata.tenbv}}</td>
          <td><img width="150" height="100" [src]="herodata.anhbv"/></td>
          <td>{{herodata.tengd}}</td>
          <td>{{herodata.diachi}}</td>
          <td>{{herodata.socanhiem}}</td>
          <td>{{herodata.socachua}}</td>
          <td>{{herodata.socatu}}</td>
          <td>
            <input (click)="EditEventFire()" class="btn btn-sm btn-danger" type="button" value="Edit"/>&nbsp;
            <input (click)="removeEventFire()"  class="btn btn-sm btn-danger" type="button" value="Xóa"/>
          </td>
         </tr>
      </table> 